* {
  font-family: "Lexend", sans-serif;
}
html {
  overflow-x: hidden;
  background-color: #eef7f7;
}

body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
p {
  color: #1c1c1e;
}

li {
  font-size: 12pt;
}

p {
  font-size: 13pt;
}

h1 {
  padding-top: 10pt;
  line-height: 1.5;
  font-size: 20pt;
}

h2 {
  padding-top: 10pt;
  line-height: 1.5;
  font-size: 18pt;
  font-weight: 500;
}

h3 {
  padding-top: 8pt;
  line-height: 1.2;
  font-size: 14pt;
  font-weight: 500;
}

h4 {
  padding-top: 8pt;
  line-height: 1.15;
  font-size: 13pt;
  font-weight: 600;
}

h5 {
  padding-top: 8pt;
  line-height: 1.15;
  font-size: 11pt;
}

h6 {
  padding-top: 8pt;
  line-height: 1.15;
  font-style: italic;
  font-size: 11pt;
}

ul,
ol {
  margin-left: 36pt;
  font-family: "Lexend", sans-serif;
  max-width: fit-content !important;
}
.company-address {
  margin-left: 40pt;
}
.container.content {
  padding: 16pt 32pt;
  background-color: #ffffff;
  border-radius: 8pt;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.copyright {
  color: #fff;
}
.hero-content {
  display: block;
  margin: auto;
}
.hero-pages {
  background-color: #eef7f7;
}
.indent-sm {
  text-indent: 20pt;
}
.indent-md {
  text-indent: 30pt;
}
.indent-lg {
  text-indent: 40pt;
}
.site-footer {
  box-shadow: 0 0 6pt rgba(0, 0, 0, 0.2);
  padding: 10pt;
  text-align: center;
  color: #fff;
  background-color: #3a7d73;
}
.site-header {
  background-color: #3a7d73;
}
.site-main {
  background-color: #eef7f7;
}
