.navbar__container::after {
  left: -275px;
  top: -251px;
}

.section1 {
  padding-top: 75px;
}

.section1 .subheading {
  max-width: 587px;
  line-height: 32px;
}

.section2 {
  padding: 119px 140px 113px;
}

.section3 {
  /* padding: 101px 159px 42px; */
  padding: 48px;
}

.section2 .info-blocks-group {
  gap: 24px;
}

.section2 .info-block {
  max-width: 272px;
  min-height: 346px;
  background: var(--white);
  border-radius: 20px;
  padding: 41px 35px 20px;
}

.section2 .info-block__image {
  width: 150px;
  margin-bottom: 25px;
}

.section2 .info-block:hover .info-block__image {
  display: none;
}

.section2 .info-block__image-dog {
  display: none;
  width: 150px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.section2 .info-block:hover .info-block__image-dog {
  display: block;
}

.section2 .heading2 {
  margin-bottom: 30px;
}

.section2 .info-block .heading3 {
  font-size: 2.2rem;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 15px;
}

.section2 .info-block .subheading {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
}

.section3 .heading2 {
  margin-bottom: 44px;
}

.section3__rectangle {
  width: 785px;
  height: 800px;
  background: url("../svg/orange-blue-frame-sm.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 90px 80px 42px 80px;
  margin: 0 auto 30px;
}

.section3__rectangle-item {
  gap: 14px;
  margin-bottom: 22px;
}

.contact-us-link a {
  color: var(--orange);
}

.section3__rectangle-item .image {
  width: 32px;
  height: 32px;
  gap: 14px;
}

.section3__rectangle .heading3 {
  font-size: 1.8rem;
  margin-bottom: 24px;
  line-height: 32px;
}

.section3__rectangle-item .text {
  line-height: 28px;
  margin-bottom: 4px;
}

.section3__rectangle-item:nth-of-type(2) .text {
  margin-bottom: 10px;
}

@media (max-width: 1047px) {
  .section2 {
    padding: 40px 80px;
  }

  .section3 {
    padding: 48px;
  }

  .section2 .info-blocks-group {
    flex-direction: column;
  }

  .section2 .info-block {
    max-width: 100%;
    background: var(--white);
    border-radius: 20px;
    padding: 41px 35px;
  }

  .section2 .info-blocks-group {
    gap: 12px;
  }

  .section3__rectangle {
    background: var(--white);
    width: 100%;
    padding: 2.5rem 2rem;
    height: auto;
    border-top: 6px solid var(--blue);
    border-left: 6px solid var(--blue);
    border-right: 6px solid var(--orange);
    border-bottom: 6px solid var(--orange);
    border-radius: 1.5rem;
    box-shadow: 0px 15px 80px -40px rgba(38, 57, 89, 0.4);
    margin: 0 auto 1rem;
  }
}

@media (max-width: 737px) {
  .section1 .subheading {
    text-align: left;
  }

  .section2,
  .section3 {
    padding: 5px 15px 0;
  }

  .section3 .heading2 {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 34px;
  }

  .section3 .heading3 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
  }

  .section3__rectangle {
    padding: 1.5rem;
  }

  .section3 .image {
    margin: 0;
  }

  .section3 .contact-us-link p {
    padding-left: 10px;
    font-size: 1.5rem;
  }
}

.section3__rectangle-item span {
  margin-right: 10px;
}

.info-block img {
  width: 150px;
  height: 150px;
}
.list {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media (min-width: 768px) {
  .list {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
