/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width : 1421px) and (max-width : 1620px) {
	.case-studies-right-inner {
	    padding: 72px 100px 0 62px;
	}
}


@media only screen and (min-width : 1200px) and (max-width : 1420px) {
	.case-studies-right-inner {
	    padding: 72px 80px 0 62px;
	}

	.case-studies-text {
		font-size: 34px;
	}
}

@media only screen and (min-width: 992px) and (max-width : 1199px) {

	.hero-home {
		background: url(../img/polygons-for-smaller-devices.png) no-repeat scroll center right / auto 100% #2d3e4f; 
	}

	.case-studies-right-inner {
	    padding: 50px;
	}

	.case-studies-text {
		font-size: 34px;
	}
}


/* Medium Devices, Tablets */
@media only screen and (max-width : 991px) {
	p { font-size: 19px; }
	.p-19 { font-size: 18px; }
	
	.main-nav li {
		margin-right: 50px;
	}

	.hero-home {
		background: url(../img/polygons-for-smaller-devices.png) no-repeat scroll center right / auto 100% #2d3e4f; 
	}

	.hero-content {
		width: 330px;
	}

	.hero-title {
		font-size: 28px;
	}

	.service-item {
	    padding: 0 15px;
	}
	
	.section-components {
		background-size: cover;
	}
	
	.clients-list a {
		margin: 25px 30px;
	}

	.case-studies-left {
		background-position: left -150px top;
	}

	.case-studies-right-inner {
	    padding: 50px;
	}

	.case-studies-text {
		font-size: 28px;
	}

	.solutions-content {
    	padding-left: 200px;
    }

    .testimonial-logo { 
		text-align: left;
		margin-bottom: 35px;
	}

	.testimonial-logo { 
		padding-top: 0;
	}

}

/* Small Devices, Mobiles */
@media only screen and (max-width : 767px) {
	p { font-size: 18px; }
	.p-19 { font-size: 16px; }
	
	.btn {
		padding: 10px 25px;
	}

	.btn-icon {
    	padding: 10px 20px 10px 35px;
    }

    .btn-icon i {
	    font-size: 20px;
	    left: 12px;
	    top: 10px;
	}

	/* Hero */
	.hero-home {
		background: #2d3e4f; 
		height: auto;
	}

	.hero.hero-pages {
		padding: 0;
	}

	.hero-content {
	    left: auto;
	    position: relative;
	    top: auto;
	    width: auto;
	    padding: 100px 0 45px;
	}

	.hero-title {
		font-size: 26px;
	}

	.hero-text {
		margin: 20px 0;
	}

	/* Main navigation */
	.site-logo.visible-xs {
		position: absolute;
		top: 20px;
		left: 15px;
		z-index: 22;
	}

	.main-nav {
	    background: rgba(0,0,0,0.85);
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    opacity: 0;
		visibility: hidden;

	    -moz-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -webkit-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -o-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -ms-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	}

	.main-nav.show {
		opacity: 1;
		visibility: visible;

		-moz-transition: opacity 0.15s ease-in-out;
	    -webkit-transition: opacity 0.15s ease-in-out;
	    -o-transition: opacity 0.15s ease-in-out;
	    -ms-transition: opacity 0.15s ease-in-out;
	    transition: opacity 0.15s ease-in-out;
	}

	.main-nav ul {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;

		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.main-nav li {
		display: block;
		margin: 0;
		text-align: center;
	}

	.main-nav li + li {
		margin: 0;
	}

	/* Responsive menu buttons */
	.lines-button {
	    display: block;
	}
	.lines-button.close {
		position: fixed;
	}
	.lines-button.x.close .lines {
		background-color: #fff !important;
	}
	.lines-button.x.close .line-middle {
	    background: transparent !important;
	}

	/* Sections */
	.site-section {
		padding: 50px 0;
	}

	.section-title {
		font-size: 24px;
	}

	.section-services .mt-45,
	.section-services .mt-65 {
		margin-top: 0;
	}

	.section-services .col-sm-5 {
		margin-top: 40px;
	}

	.service-item-content h3 {
		margin-top: 20px;
	}
	
	.section-components {
		padding: 160px 0 50px;
	}

	.section-thumb {
	    top: 50px;
	}

	.clients-list a {
		margin: 20px 0;
		width: 100%;
	}

	.section-case-studies {
		height: auto;
	}

	.case-studies-left {
		display: none;
	}

	.case-studies-right {
		width: 100%;
	}

	.case-studies-text {
	    font-size: 24px;
	}

	.case-studies-person {
		font-size: 20px;
		margin-bottom: 0;
	}

	.case-studies-right-inner {
		padding: 50px 0;
	}

	.case-studies-right-inner img {
		float: left;
		margin-right: 20px;
	}

	.section-contact form {
		width: 100%;
		max-width: 278px;
		margin: 40px auto 0;
	}

	.section-contact .form-group {
		float: left;
		margin-bottom: 20px;
	}
	
	.section-contact .btn,
	.section-contact .form-control,
	.section-contact .form-group.form-group-last .form-control {
    	border-radius: 6px;
    	margin-left: 0;
    }

    .section-contact .form-group.form-group-last .form-control {
    	border-right: 2px solid rgba(255, 255, 255, 0.3);
    } 

    .section-contact .form-group:first-child {
    	margin-right: 0;
    }

    .section-contact label {
    	position: relative;
    	float: left;
    	top: 0;
	    left: 0;
    }

    .section-contact .form-group:last-of-type label {
	    margin-left: 0px;
	}

	.solutions-thumb {
		float: none;
		padding: 0;
		margin-bottom: 30px;
	}

	.solutions-content {
		padding-left: 0;
	}

	.section-clients-quote h2 {
		font-size: 28px;
	}

	.testimonial > p {
		font-size: 22px;
		line-height: 1.1;
	}

	.team-member-content h3 {
		font-size: 24px;
	}
	
	.team-member-content li,
	.team-member-content p {
		font-size: 16px;
	}

	.team-row {
		margin-bottom: 0;
	}

	.team-member {
		margin-bottom: 30px;
	}

	.team-member:last {
		margin-bottom: 0px;
	}

	/* Footer */
	.footer-nav li + li {
	    margin-left: 25px;
	}

	/* Modal */
	.modal-dialog {
	    margin: 30px auto;
	    width: 90%;
	}

	.modal-content {
		padding: 30px 15px;
	}

	.modal-title {
		font-size: 28px;
	}

	.modal-text {
		font-size: 18px;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}

	.modal-content .form-control {
		font-size: 16px;
	}
	.modal-content .form-control::-moz-placeholder {
	    font-size: 16px;
	}
	.modal-content .form-control:-ms-input-placeholder {
	    font-size: 16px;
	}
	.modal-content .form-control::-webkit-input-placeholder {
	    font-size: 16px;
	}
}
