.navbar__container::after {
  content: '';
  background-image: url('../svg/circle.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 805px;
  height: 805px;
  left: -51px;
  top: -233px;
  z-index: 0;
}

.header {
  background: transparent;
}

footer {
  background: #EEF1F5;
}

.section1 {
  padding: 48px 140px 56px 152px;
  background: var(--white);
}

.section2 {
  background: linear-gradient(180deg, rgba(238, 241, 245, 0) 0%, #EEF1F5 100%);
  padding-bottom: 131px;
  padding-top: 71px;
}

.section2 .mobile {
  display: none;
}

.section1 .wrapper {
  gap: 170px;
}

.section1 .heading1 {
  margin-bottom: 30px;
}

.section1 .subheading {
  font-weight: 400;
  color: var(--dark-cyan-blue);

  @media (max-width:737px) {
    margin-bottom: 19px;
    font-size: 1.6rem;
  }
}

.section1 .oval {
  background: var(--white);
  box-shadow: 0px 15px 80px rgba(38, 57, 89, 0.25);
  border-radius: 20px;
  padding: 24px 31px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 30px;
  gap: 16px;
  max-width: 600px;
}

.section1 .oval p {
  margin-bottom: 0;
}

.section1 .oval1,
.section1 .oval2,
.section1 .oval3 {
  margin-bottom: 32px;
}

.section1 .oval1 img,
.section1 .oval2 img,
.section1 .oval3 img,
.section1 .oval4 img {
  align-self: flex-start;
  margin-top: 8px;
}

.section1 .solution-heading {
  margin-top: 34px;
  width: 50%;
}

.section2 .heading2 {
  margin-bottom: 46px;
}

.section2__rectangle {
  max-width: 100%;
  width: 925px;
  padding: 42px;
  margin: 0 auto 160px;
}

.section2-product,
.section2-technology,
.section2-system {
  min-height: 450px;
  background: url('../svg/orange-blue-frame1.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.section2-customize {
  min-height: 520px;
  background: url('../svg/orange-blue-frame2.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.section2-tool {
  min-height: 585px;
  background: url('../svg/orange-blue-frame3.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 46px;
}

.section2__rectangle .col {
  margin-top: 32px;
}

.section2__rectangle-item {
  gap: 16px;
}

.section2__rectangle .heading3 {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  width: 85%;
  margin: 0 auto 42px;
}

.section2__rectangle-item .text {
  line-height: 28px;
  font-size: 16px;
  text-align: justify;
}

.github-link {
  gap: 8px;
  padding-top: 16px;
}

.github-link__text {
  font-size: 18px;
  color: var(--blue);
  text-decoration: none;
}




@media(max-width: 1280px) {
  .section2__rectangle {
    background: none;
    width: 100%;
    padding: 0;
    margin-bottom: 100px;

    background: var(--white);
    box-shadow: 0px 15px 80px -40px rgba(38, 57, 89, 0.4);
    border-radius: 16px;
    min-height: auto;
    padding: 40px;

  }
}

@media(min-width: 1110px) {
  .section1 .oval {
    width: 600px;
  }

  .section1 {
    padding: 48px 67px 56px 152px;
  }

  .section1 .oval2,
  .section1 .oval4 {
    margin-left: 0px;
  }
}

@media(min-width: 1280px) {

  .section1 .oval2,
  .section1 .oval4 {
    margin-left: 110px;
  }
}

@media(max-width: 1110px) {
  .section1 .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .section1__ovals {
    margin: 0 auto;
  }

  .section1 .solution-heading {
    margin-top: 0px;
    width: 100%;
  }
}


@media(max-width: 737px) {
  .section1 {
    padding: 76px 15px 10px 15px;
  }

  .section1 .subheading {
    text-align: left;
  }

  .section1 .oval {
    border-radius: 12px;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    padding-right: 25px;
  }

  .section1 .solution-heading {
    margin-top: 0px;
  }

  .section2 {
    padding-bottom: 100px;
  }

  .section2 .heading3 {
    line-height: 28px;
    font-weight: 400;
  }

  .section2 .desktop {
    display: none;
  }

  .section2 .mobile {
    display: block;
  }

  .section2__rectangle {
    width: 350px;
    padding: 30px 15px 0px;
    margin: 0 auto 67px;
  }

  .section2-product {
    height: 750px;
    background: url('../svg/orange-blue-frame-mobile1.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section2-technology {
    height: 700px;
    background: url('../svg/orange-blue-frame-mobile5.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section2-system {
    height: 640px;
    background: url('../svg/orange-blue-frame-mobile6.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section2-customize {
    height: 910px;
    background: url('../svg/orange-blue-frame-mobile4.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section2-tool {
    height: 1130px;
    background: url('../svg/orange-blue-frame-mobile3.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section2__rectangle .col {
    margin-top: 10px;
  }

  .github-link {
    padding: 0 40px;
  }

  .github-link__text {
    text-align: center;
  }
}

@media (max-width: 1190px) {
  .solution-heading {
    width: 100% !important;
  }
}

.row>* {
  margin-top: 20px !important;
}

.row>p>span {
  margin-right: 10px;
}